.hiccup-modal-box {
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  display: table;
  text-align: center;
  width: 100%;
  top: 10%;
}

.hiccup-modal-box-inside {
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  overflow: hidden;
  vertical-align: top;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  background: #DBDDE8;
  border: 2px solid #D1D3E0;
}

.suggest-content:hover {
   cursor: pointer;
   color: #bbb;
}

#suggest-box {
   background: white;
   list-style: none;
   padding: 5px;
   box-sizing: border-box;
}
